{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Post Löschen</legend>
                <h2>Bist sicher, dass du den Post "{{ object.title }}" löschen willst?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Ja, löschen</button>
                <a class="btn btn-outline-secondary" href="{% url 'index' %}">Nein, abbrechen</a>
            </div>
        </form>
    </div>
{% endblock content %}
