{% load static %}   

<style>
    .post {
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .modal { 
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }

    .modal-header h2 {
        margin: 0; 
    }

    .modal-header button {
        margin-left: 10px; 
    }

    .mediaContent {
        margin: 20px;
        margin-left: 0;
    }
</style>

<div class="card mt-2">
    <div class="post card-body">
        <div>
            <h5 class="card-title">{{ post.title }}</h5>
            <div class="d-flex align-items-center gap-2">
                <a href="{% url 'profile_view' post.creator.user.username %}" style="font-size: normal;">{{ post.creator.user.username }}</a>
                <span>{{ post.publication_date }}</span>
            </div>
        </div>

        <div class="mediaContent">
            {% if post.video %}
                <video width="300px" height="auto" controls> 
                    <source src="{{ post.video.url }}">
                </video>
            {% elif post.image %}
                <img src="{{ post.image.url }}" alt="" width="100px" height="auto">
            {% endif %}
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Function to toggle content visibility
                function toggleContent(button) {
                    const postId = button.getAttribute('data-post-id');
                    const hiddenContent = document.querySelector(`.hidden-content-${postId}`);
                    const showMoreButton = document.querySelector(`.show-more-btn-${postId}`);
                    if (hiddenContent.style.display === 'none' || hiddenContent.style.display === '') {
                        hiddenContent.style.display = 'inline';
                        showMoreButton.textContent = 'Weniger';
                    } else {
                        hiddenContent.style.display = 'none';
                        showMoreButton.textContent = 'Mehr';
                    }
                }

                // Add event listeners for show more buttons
                document.querySelectorAll('.show-more-btn').forEach(button => {
                    button.addEventListener('click', function() {
                        toggleContent(this);
                    });
                });

                // Add event listeners for comment and new comment modals
                document.querySelectorAll('[id^="commentBtn-"]').forEach(button => {
                    button.addEventListener('click', function() {
                        const postId = this.getAttribute('data-post-id');
                        document.getElementById(`commentModal-${postId}`).style.display = 'block';
                    });
                });

                document.querySelectorAll('[id^="newCommentBtn-"]').forEach(button => {
                    button.addEventListener('click', function() {
                        const postId = this.getAttribute('data-post-id');
                        document.getElementById(`newCommentModal-${postId}`).style.display = 'block';
                    });
                });

                // Add event listeners for closing modals
                document.querySelectorAll('.close').forEach(button => {
                    button.addEventListener('click', function() {
                        this.closest('.modal').style.display = 'none';
                    });
                });

                // Close modals when clicking outside of them
                window.addEventListener('click', function(event) {
                    if (event.target.classList.contains('modal')) {
                        event.target.style.display = 'none';
                    }
                });
            });
        </script>

        <p class="card-text">
            {{ post.content|slice:":200" }}{% if post.content|length > 200 %}...{% endif %}
            {% if post.content|length > 200 %}
                <span class="hidden-content-{{ post.id }}" style="display: none;">{{ post.content|slice:"200:" }}</span>
                <span class="show-more-btn" data-post-id="{{ post.id }}">Mehr</span>
            {% endif %}
        </p>

        <div class="d-flex justify-content-between mt-1 mb1 gap-1 align-items-center">
            <div>
                {% if user.is_authenticated %}
                    {% if user in post.upvotes.all %}
                        <a href="{% url 'upvote_view' post.id %}" class="btn btn-success btn-sm">&uArr;</a>
                    {% else %}
                        <a href="{% url 'upvote_view' post.id %}" class="btn btn-outline-success btn-sm">&uArr;</a>
                    {% endif %}

                    {% if user in post.downvotes.all %}
                        <a href="{% url 'downvote_view' post.id %}" class="btn btn-danger btn-sm">&dArr;</a>
                    {% else %}
                        <a href="{% url 'downvote_view' post.id %}" class="btn btn-outline-danger btn-sm">&dArr;</a>
                    {% endif %}

                    {% if post.creator.user != user %}
                        {% if user in post.creator.followers.all %}
                            <a href="{% url 'follow_view' post.creator.user.id %}" class="btn btn-outline-primary btn-sm">&#x1F465; Unfollow</a>
                        {% else %}
                            <a href="{% url 'follow_view' post.creator.user.id %}" class="btn btn-outline-primary btn-sm">&#x1F465; Follow</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                
                <div id="commentBtn-{{ post.id }}" class="btn btn-primary btn-sm" data-post-id="{{ post.id }}">
                    &#128240;
                </div>
                <div class="btn-info btn btn-sm" style="color: #f8f9fa; font-weight: bold;">{{ post.calculate_rating }}</div>
            </div>

            <div>
                {% if post.creator.user == user %}
                    <a class="btn btn-primary p-2" href="{% url 'post_update' post.id %}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger p-2" href="{% url 'post_delete' post.id %}"><i class="fas fa-trash"></i></a>
                {% endif %}
            </div>

            <!-- Comment Modal -->
            <div id="commentModal-{{ post.id }}" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Kommentare</h2>
                        <div>
                            {% if user.is_authenticated %}
                                <button id="newCommentBtn-{{ post.id }}" class="btn btn-success" data-post-id="{{ post.id }}" style="margin-right: 20px;">Neuer Kommentar</button>
                            {% endif %}
                            <span class="close">&times;</span>
                        </div>
                    </div>
                    <div>
                        <form id="commentForm-{{ post.id }}">
                            {% for comment in post.comments.all %}
                                {% include "blog/post/comment.html" with comment=comment %}
                            {% empty %}
                                <p>Keine Kommentare vorhanden.</p>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
            
            <!-- New Comment Modal -->
            <div id="newCommentModal-{{ post.id }}" class="modal">
                <div class="modal-content">
                    <form id="newCommentForm-{{ post.id }}" method="post" action="{% url 'add_comment_view' post.id %}">
                        {% csrf_token %}
                        <span class="close">&times;</span>
                        <h2>Neuen Kommentar hinzufügen</h2>
                        <div class="form-group">
                            <label for="commentText-{{ post.id }}">Kommentar:</label>
                            <textarea id="commentText-{{ post.id }}" name="content" class="form-control" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Absenden</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
