{% extends "blog/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Registrierung</legend>
                {% bootstrap_form form %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registrieren</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Du hast schon einen Account?
                <a class="ml-2" href="{% url 'login' %}">Hier anmelden</a>
            </small>
        </div>
    </div>
{% endblock content %}
